 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Piano lessons</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <a title="Piano lessons"><img width="250" alt="Classical music icon" src="/assets/img/piano_lessons.jpg"></a>
      <p>design...</p>
    </div>
    <div class="tech">
     <h2>Theory & Musicianship</h2>
      <a title="Theroy&Musicianship"><img width="250" alt="Classical music icon" src="/assets/img/Theory_and_musicianship.jpg"></a>
      <p>Theory.... </p>
    </div>
    <div class="tech">
      <h2>Ensemble</h2>
      <a title="Ensemble"><img width="250" alt="Classical music icon" src="/assets/img/Ensemble.jpg"></a>
      <p>Ensenble xxxx</p>
    </div>
</div>
