 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
     <h3>Piano lessons</h3>
      <a title="Lessons"><img width="250" height="150" alt="Classical music icon" src="/assets/img/piano_lessons.jpg"></a>
      <p>Tailored intensive individual lessons based on AMEB from Preliminary to LmusA</p>
    </div>
    <div class="tech">
     <h3>Theory & Musicianship</h3>
      <a title="Theroy&Musicianship"><img width="250" height="150" alt="Classical music icon" src="/assets/img/Theory_and_musicianship.jpg"></a>
      <p>Indiviual or group Theory & Musicianship classes followed by AMEB </p>
    </div>
    <div class="tech">
      <h3>Ensemble</h3>
      <a title="Ensemble"><img width="250" height="150" alt="Classical music icon" src="/assets/img/Ensemble.jpg"></a>
      <p>Providing periodic peroformance opportunities </p>
    </div>
</div>
