<div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
     <h3>Instruments</h3>
      <a title="Lessons"><img width="250" height="150" alt="Classical music icon" src="/assets/img/instruments.jpg"></a>
      <p>Tailored intensive lessons and Systematic programs for Piano, Violin, Viola, Cello, Flute, and Classical guitar</p>
    </div>
    <div class="tech">
     <h3>Theory & Musicianship</h3>
      <a title="Theroy&Musicianship"><img width="250" height="150" alt="Classical music icon" src="/assets/img/Theory_and_musicianship.jpg"></a>
      <p>Indiviual or group Theory & Musicianship classes followed by AMEB syllabus</p>
    </div>
    <div class="tech">
      <h3>Exam preparation</h3>
      <a title="Exam prep"><img width="250" height="150" alt="Classical music icon" src="/assets/img/Ensemble.jpg"></a>
      <p>AMEB, HSC Music, Auditions for top Australian/European/US music schools, Int'l/Local Competitions</p>
    </div>
</div>
