<div class="user-details">
  <h1> Contact Us</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Ecole" src="{{ "/assets/img/Ecole.png" }}" />
  </div>
  <div class="contents">
 <h5><b> 
   <li>Telephone: 02 8677 4327 </li>
   <li>Email: juliana.seo.1109@gmail.com </li>
   <li>Address: 2/169c Spurway st. 2117 NSW  </li>
 </b></h5>
 <h5> <form action="https://formspree.io/juliana.seo.1109@gmail.com" method="POST">
 <p> Name: </p><input name="Name" type="name" placeholder="Your name"><br />
 <p> Email: </p><input name="Email" type="email" placeholder="Your email"><br />
 <p> Message: </p><textarea name="Message" placeholder="Welcome to any questions and comments!"></textarea><br />
  <button type="submit">Send</button>
  </form> </h5>   
  </div>
</div>
