<div class="user-details">
  <h1> Contact Us</h1>
</div>
<div class="project-links">  
<div class="mapWrapper images-left">   
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d828.8388070513685!2d151.05358182925784!3d-33.80314488439587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDQ4JzExLjMiUyAxNTHCsDAzJzE0LjkiRQ!5e0!3m2!1sen!2sau!4v1542820665113" width="420" height="400" frameborder="0" style="border:0" allowfullscreen allowtransparency="true"></iframe>
</div> 
<div class="contacts-right">
  <h5>
   <li>Telephone: 02 8677 4327 </li>
   <li>Email: juliana.seo@ecolepianosydney.com </li>
   <li>Address: 2/169c Spurway St. Dundas 2117 NSW Australia</li>
 </h5>
 <h5> <form action="https://formspree.io/juliana.seo.1109@gmail.com" method="POST">
 <p> Name: </p><input name="Name" type="name" placeholder="Your name"><br />
 <p> Email: </p><input name="Email" type="email" placeholder="Your email"><br />
 <p> Message: </p><textarea name="Message" placeholder="Welcome to any questions and comments!"></textarea><br />
  <button type="submit">Send</button>
  </form> </h5>   
  </div>
</div>
