<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Ecole Music Sydney</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#contactus"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/École-de-Piano-de-Sydney-2177011712317863/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/channel/UC1MtM-bYbopjiY8iyfIe2Fw?view_as=subscriber"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Google" target="_blank" href="https://www.google.com/search?ei=3EzEXILEG9my9QO2xbCYAg&q=Ecole+Music+Sydney+%7C+Premium+Classical+Music+School&oq=Ecole+Music+Sydney+%7C+Premium+Classical+Music+School&gs_l=psy-ab.3..33i160.3897.4535..4918...0.0..0.306.516.2-1j1......0....1..gws-wiz.......0i71.NUzU2KngJGw"><i class="icon fa fa-google" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" href="#projects" data-scroll>Our Value</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
