<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">École de Piano de Sydney</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#contactus"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/École-de-Piano-de-Sydney-2177011712317863/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/channel/UC1MtM-bYbopjiY8iyfIe2Fw?view_as=subscriber"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Google" target="_blank" href="https://www.google.com/search?ei=5_L9W5r2IomavQSjuqiYDw&q=%C3%89cole+de+Piano+de+Sydney+Dundas&oq=%C3%89cole+de+Piano+de+Sydney+Dundas&gs_l=psy-ab.3...58885.65798..66165...0.0..1.295.1391.0j5j2......0....1j2..gws-wiz.......33i22i29i30j33i160.5lJZGGo8BNM"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About EPS</a>
        <a class="link" href="#projects" data-scroll>Our value</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
