<div class="user-details">
  <h1> Our Value </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Juliana" src="{{ "/assets/img/Juliana_Seo.png"}}" />
   </div>
  <div class="contents">
    <h3> Principal Piano Teacher </h3>
    <ul>
      <li> Juliana Seo </li>
    </ul>
    <p>Juliana is a versatile and highly experienced teacher of classical piano and music theory as well as an accomplished concert pianist. After earning the Bachelor of Music from Ewha Womans University in South Korea, Juliana continued her higher postgraduate degrees at  Hanover University of Music in Germany and École Normale de Musique de Paris in France.</p>
    <a class="project-link" href="#">Profile (Eng)</a>
    <a class="project-link" href="#">Profile (Kor)</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="europepianolesson" src="{ "/assets/img/europelesson.jpg"} />
  </div>
  <div class="contents-right">
    <h3> European Classical Music Instruction </h3>
    <ul>
      <li>Techniques: Developing fingers strength, agility and independence</li>
      <li>Mind: Improving the reading skills and memory abilities</li>
      <li>Creativity: Unleashing hidden potential for creativity through expressing feelings and emotions while playing the piano</li> 
    </ul>
  </div>
</div>
