<div class="user-details">
  <h1> Our Value </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Juliana" src="{{ "/assets/img/Juliana_Seo.png"}}" />
   </div>
  <div class="contents">
    <h3>Our Outstanding Team</h3>
    <p>Ecole Music Sydney is made of world class teachers with, at very least, a bachelor degree from top music schools in Europe, the US, and Australia.</p>
    <a class="project-link" href="#">Team Profile (Eng)</a>
    <a class="project-link" href="#">Team Profile (Kor)</a>
    <h3>Plenty of Local Experience</h3>
    <p>Our teachers have abundant local experience based on Australian Music Exams, Curriculum, and Performance.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="europepianolesson" src="{{ "/assets/img/europepianolesson.jpg"}}" />
  </div>
  <div class="contents-right">
   <h3>Systematic Music Instruction</h3>
   <p>Our school provides the structured teaching methods and respective programs for students of all levels.</p>
   <h3>Our studios</h3>
   <p>Ecole Music Sydney has four quality studios containing professional grand pianos and equipments.</p>
  </div>
</div>
